{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Students</title>
</head>
<body>
    <h1 class="title">Список студентов</h1>
    <ul class="students-list">
        {% for student in students %}
        <li class="student-card">
            <h2>{{ student.first_name }} {{ student.last_name }}</h2>
            <p>Возраст: {{ student.age }}</p>
            <p>Группа: <span>{{ student.group }}</span></p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
